h1{
	text-align: center;
}
.des,.pic{
flex: 0 0 150px;
 width:150px;
}

.des{
position: relative;
	top: 750px;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 20%;
	box-sizing: border-box;
background-color: red;
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
display:flex;
}

.content{
	text-align: right;
	margin-left: 10%;
  color: white;
	font-size: 20px;
}
.navbar{
  height: 100px;
  padding: 1%;
 background-size: cover;
}
